//
// user-variables.scss
// Use this to overwrite Bootstrap and Geeks variables
//
// Example of a variable override to change Geeks primary color
// Remove the "//" to comment it in and see it in action!
$primary: #1e40a6;
$primary-hover: #2375c8;
$primary-dark: #3321bd;
