/* custom syncfusion css */

/* custom css for schedule */
.e-appointment-details > div {
  width: 100%;
}

.e-indicator {
  display: none !important;
}

.e-event-popup .e-popup-header {
  background-color: white !important;
  padding: 8px;
}

.e-popup-content {
  padding: 0px 20px 0px 20px !important;
}

.e-quick-popup-wrapper .e-event-popup .e-popup-footer {
  display: unset !important;
}

.e-popup-footer {
  padding: 0px !important;
}

.e-more-popup-wrapper {
  width: 400px !important;
  display: flex;
}

.e-more-appointment-wrapper .e-appointment {
  display: block !important;
  width: 100 !important;
}

.e-more-popup-wrapper .e-more-event-content {
  min-height: 200px !important;
  max-height: 400px !important;
}

.e-more-popup-wrapper .e-more-event-date-header .e-current-date {
  color: #dc2626 !important;
}

.e-schedule .e-schedule-toolbar .e-active-view .e-tbar-btn-text,
.e-schedule .e-schedule-toolbar .e-active-view .e-icons {
  color: #3f51b5 !important;
  font-weight: 500 !important;
  font-size: 12px !important;
}

.e-schedule .e-timeline-view .e-date-header-wrap table td.e-current-day,
.e-schedule .e-timeline-month-view .e-date-header-wrap table td.e-current-day {
  color: #3f51b5 !important;
  font-weight: 500 !important;
  font-size: 14px !important;
}

.e-schedule .e-month-view .e-date-header-wrap table td.e-current-day,
.e-schedule .e-month-agenda-view .e-date-header-wrap table td.e-current-day {
  color: #dc2626 !important;
}

.e-schedule .e-vertical-view .e-header-cells.e-current-day {
  color: #dc2626 !important;
}

.e-schedule .e-vertical-view .e-header-cells.e-current-day {
  color: #dc2626 !important;
}

.e-schedule .e-agenda-view .e-day-date-header.e-current-day {
  color: #dc2626 !important;
}

.e-schedule .e-month-view .e-current-date .e-date-header,
.e-schedule .e-month-agenda-view .e-current-date .e-date-header {
  background-color: #dc2626 !important;
}

.e-schedule .e-timeline-view .e-clone-time-indicator,
.e-schedule .e-timeline-view .e-current-time {
  color: #dc2626 !important;
  font-size: 12px !important;
}

.e-current-timeline {
  border-left: 1px solid #dc2626 !important;
}

.e-calendar .e-content td.e-today.e-selected span.e-day {
  background-color: #dc2626 !important;
  border: solid 1px #dc2626 !important;
}

.e-btn.e-flat.e-primary,
.e-css.e-btn.e-flat.e-primary {
  color: #dc2626 !important;
}

.e-resource-cells.e-child-node {
  text-align: left !important;
  vertical-align: center !important;
  padding: 0 !important;
  border: solid 1px #3f51b5 !important;
  border-bottom: none !important;
}

.e-resource-column-table tr:last-child .e-resource-cells.e-child-node {
  text-align: left !important;
  vertical-align: center !important;
  padding: 0 !important;
  border: solid 1px #3f51b5 !important;
}

/* toolbar */
.e-schedule
  .e-schedule-toolbar
  .e-toolbar-items.e-tbar-pos
  .e-toolbar-right
  .e-toolbar-item.e-active-view
  .e-tbar-btn {
  background-color: #3f51b5 !important;
  border-radius: 4px !important;
}

.e-schedule .e-toolbar-item .e-tbar-btn:hover,
.e-schedule .e-toolbar-item .e-tbar-btn:focus {
  background-color: #edf2ff !important;
  border-radius: 4px !important;
}

.e-schedule
  .e-schedule-toolbar
  .e-toolbar-items.e-tbar-pos
  .e-toolbar-right
  .e-toolbar-item.e-active-view
  .e-tbar-btn
  .e-tbar-btn-text {
  color: white !important;
}

.e-schedule .e-tbar-btn .e-tbar-btn-text:hover,
.e-schedule .e-tbar-btn .e-tbar-btn-text:focus {
  color: #3f51b5 !important;
}
